<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title -->
    <title>관리자 페이지</title>

    <!-- Favicon -->
    <link rel="icon" href="/img/core-img/favicon.ico">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="/admin_index.css">
    <script src="js/jquery/jquery-2.2.4.min.js"></script>

</head>

<body>
<div class="wrap">
    <div class="logo"><img src="/img/logo_black.png" style="width: 300px;"></div>
    <div class="contents">

            <div class="ss">
                <label for="wrap">관리자페이지</label>
            </div>

            <div class="caption">
                <form action="/admin/list" method="get">
                    <button type="submit" class="next-button">회원승인관리</button>
                </form>
                <form action="/admin/adminRedirLogin_index" method="get">
                    <button type="submit" class="next-button">홈페이지 가기</button>
                </form>
                <form action="/clientlogout" method="post">
                    <button type="submit" class="next-button">로그아웃</button>
                </form>
            </div>

    </div>
</div>
</body>


</div>
</div>


</body>

</html>