@import url(style.css);
@import url(media.css);

* { margin: 0;}

html {
    scroll-behavior: smooth;
}


header {
    top: 0;
    left: 0;
    right: 0;
  }

.main_menu > li > a {
    font-size: 15px;
}

a {
    text-decoration: none;
    color: rgb(53, 53, 53);
}

.navbar_logo > a > img {
    width: 150px;
    margin-left: 10px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 255, 255);
    padding: 8px 12px;
}

li {
    list-style: none;
}

.main_menu li {
    float: left;
    padding: 0 20px;
    height: 36px;
    line-height: 36px;
    position: relative;
}

.sub_menu {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
}

.sub_menu li {
    width: 100px;
    border: 1px solid rgb(162, 162, 162);
    background-color: rgb(255, 255, 255);
}

.main_menu li:hover .sub_menu {
    display: block;
    
}

/* 활동게시판 */
.board_content {
    width: 1000px;
    display: flex;
    margin-top: 30px;
}

.act_card {
    width: 200px;
    height: 260px;
    cursor: pointer;
}

.card_img > a > img {
    width: 200px;
}

.card_title {
    margin-left: 10px;
    margin-top: 10px;
    font-size: larger;
}

.card_date {
    margin-left: 10px;
    margin-top: 5px;
    font-size: larger;
}

.act_card:hover {
    background-color: #d7d5d5;
    color: #232323;
}

