<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>비밀번호 변경</title>
  <meta charset="UTF-8">
  <!-- Favicon -->
  <link rel="icon" href="img/core-img/favicon.ico">
  <script src="js/jquery/jquery-2.2.4.min.js"></script>
  <link rel="stylesheet" href="/membership.css">
</head>

<body>
<div class="wrap">
  <div class="logo"><a href="/"><img src="/img/logo_black.png" style="width: 300px;"></a></div>
  <div class="contents">
    <form action="/changePwd" method="POST" id="form__wrap">
      <div class="dd">
        <label for="checkAll"
        >회원 비밀번호 변경</label>


          <div class="int-area">
            <input type="hidden" name="id" th:value="${id}" th:readonly="true" autocomplete="off" required>
          </div>
          <div class="int-area">
            <input type="password" id="newPassword" name="newPassword" autocomplete="off" required>
            <label for="newPassword">비밀번호 확인:</label>
          </div>

          <div class="int-area">
            <input type="password" id="confirmPassword" name="confirmPassword" autocomplete="off" required>
            <label for="confirmPassword">비밀번호 확인:</label>
          </div>
        <div class="btn-area">
          <div th:if="${errorMessage}">
            <script th:inline="javascript">
              alert([[${errorMessage}]]);
            </script>
          </div>
          <div class="btn-area">
            <button id="btn" type="submit"> 비밀번호 변경 </button>
          </div>
        </form>
      </div>
  </div>
  <script th:inline="javascript">
    function validateForm() {
      var newPassword = document.getElementById("newPassword").value;
      var confirmPassword = document.getElementById("confirmPassword").value;

      if (newPassword !== confirmPassword) {
        alert("비밀번호가 일치하지 않습니다.");
        return false;
      }
    }
  </script>
</body>
</html>