<!doctype html>
<html lang="ko">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width", initial-scale="1.0">
    <link rel="icon" href="./img/gettoo.ico">
    <link rel="stylesheet" href="/index.css">
    <title>GET-TOO</title>
</head>
<body>
<header>
    <nav class="navbar">
        <div class="navbar_logo">
            <a href="index.html"><img src="/img/nav_logo.png"/></a>
        </div>
        <div class="navbar_menu">
            <ul>
                <li><a href="#s2">소개</a></li>
                <li>
                    <a href="loginClient"><button class="nav_btn">바로 시작하기</button></a>
                </li>
            </ul>
        </div>
    </nav>
</header>

<section id="s1">
    <div class="intro">
        <div class="intro_icon" style="text-align: center;">
            <img src="./img/logo_black.png"></div>
        <div class="intro_text"><h2>대전대학교 동아리 커뮤니티</h2></div>
        <div class="intro_btn"><button class="btn_login"><a href="loginClient">로그인하기</a></button></div>
        <div class="intro_a"><a href="gotoMembership">회원가입하기</a></div>
        <div class="intro_bounce"><a href="#s2">더 알아보기</a><a href="#s2"><img src="./img/intro_bounce.png"></a></div>
    </div>
</section>

<section id="s2">
    <div class="chat">
        <div class="chat_img">
            <img src="./img/s2_chat.png">
        </div>
    </div>
</section>

<section id="s3">
    <div class="motion">
        <div class="so">
            <img src="./img/s3_so.png">
        </div>
        <div class="slide1">
            <div class="slide-container">
                <div class="slide-image">
                    <img src="./img/slide_img/a1.png">
                </div>
                <div class="slide-image">
                    <img src="./img/slide_img/a2.png">
                </div>
                <div class="slide-image">
                    <img src="./img/slide_img/a3.png">
                </div>
                <div class="slide-image">
                    <img src="./img/slide_img/a4.png">
                </div>
                <div class="slide-image">
                    <img src="./img/slide_img/a5.png">
                </div>
            </div>
            <div class="slide-container">
                <div class="slide-image">
                    <img src="./img/slide_img/a1.png">
                </div>
                <div class="slide-image">
                    <img src="./img/slide_img/a2.png">
                </div>
                <div class="slide-image">
                    <img src="./img/slide_img/a3.png">
                </div>
                <div class="slide-image">
                    <img src="./img/slide_img/a4.png">
                </div>
                <div class="slide-image">
                    <img src="./img/slide_img/a5.png">
                </div>
            </div>
            <div class="slide-container">
                <div class="slide-image">
                    <img src="./img/slide_img/a1.png">
                </div>
                <div class="slide-image">
                    <img src="./img/slide_img/a2.png">
                </div>
                <div class="slide-image">
                    <img src="./img/slide_img/a3.png">
                </div>
                <div class="slide-image">
                    <img src="./img/slide_img/a4.png">
                </div>
                <div class="slide-image">
                    <img src="./img/slide_img/a5.png">
                </div>
            </div>
        </div>

        <div class="slide2">
            <div class="slide-container2">
                <div class="slide-image2">
                    <img src="./img/slide_img/a1.png">
                </div>
                <div class="slide-image">
                    <img src="./img/slide_img/a2.png">
                </div>
                <div class="slide-image">
                    <img src="./img/slide_img/a3.png">
                </div>
                <div class="slide-image">
                    <img src="./img/slide_img/a4.png">
                </div>
                <div class="slide-image">
                    <img src="./img/slide_img/a5.png">
                </div>
            </div>
            <div class="slide-container2">
                <div class="slide-image2">
                    <img src="./img/slide_img/a1.png">
                </div>
                <div class="slide-image">
                    <img src="./img/slide_img/a2.png">
                </div>
                <div class="slide-image">
                    <img src="./img/slide_img/a3.png">
                </div>
                <div class="slide-image">
                    <img src="./img/slide_img/a4.png">
                </div>
                <div class="slide-image">
                    <img src="./img/slide_img/a5.png">
                </div>
            </div>
            <div class="slide-container2">
                <div class="slide-image2">
                    <img src="./img/slide_img/a1.png">
                </div>
                <div class="slide-image">
                    <img src="./img/slide_img/a2.png">
                </div>
                <div class="slide-image">
                    <img src="./img/slide_img/a3.png">
                </div>
                <div class="slide-image">
                    <img src="./img/slide_img/a4.png">
                </div>
                <div class="slide-image">
                    <img src="./img/slide_img/a5.png">
                </div>
            </div>
        </div>
    </div>
</section>

<section id="s4">
    <div>
        <div class="prom">
            <div class="prom_text1">GET-TOO와 함께라면 쉽고 편한 동아리 활동</div>
            <div class="prom_text2">동아리 가입부터 소통까지 이제는 한 번에!</div>
        </div>

        <div class="btn">
            <div class="intro_btn"><button class="btn_lgn"><a href="loginClient">로그인</a></button></div>
            <div class="intro_btn"><button class="btn_jn"><a href="gotoMembership">회원가입</a></button></div>
        </div>
    </div>

</section>
</body>
</html>




