<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>활동게시판</title>
    <link rel="stylesheet" href="css/css.css">
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="navbar_logo">
                <a href="login_index.html"><img src="./img/nav_logo.png"/></a>
            </div>
            <div class="navbar_menu">
                <ul class="main_menu">
                    <li><a href="####">안녕하세요, <span style="font-weight: bold;">박시영</span>님 ∨
                        <ul class="sub_menu">
                            <li><a href="login_profile.html" style="font-size: 15px; margin-left: 5px;">프로필</a></li>
                            <li><a href="login_group.html" style="font-size: 15px; margin-left: 5px;">동아리</a></li>
                            <li><form style="cursor: pointer;">
                                <button action="####" style="border: 0;
                                background-color: transparent; cursor: pointer; font-size: 15px;">로그아웃</button>
                                </form></li>
                        </ul>
                    </li>
                </ul>
            </div>

            </div>
        </nav>
    </header>
    
    <div class="board_wrap">
        <div class="board_title">
            <strong>활동게시판</strong>
            <p>동아리 활동 기록하기</p>
        </div>
        <div class="board_write_wrap">
            <div class="board_write">
                <div class="title">
                    <dl>
                        <dt>제목</dt>
                        <dd><input type="text" placeholder="제목 입력" value="글 제목이 들어갑니다"></dd>
                    </dl>
                </div>
                <div class="info">
                    <dl>
                        <dt>글쓴이</dt>
                        <dd><input type="text" placeholder="글쓴이 입력" value="김이름"></dd>
                    </dl>
                    <dl>
                        <dt>비밀번호</dt>
                        <dd><input type="password" placeholder="비밀번호 입력" value="1234"></dd>
                    </dl>
                    <dl style="margin-top: 30px;">
                        <dt>이미지 파일</dt>
                        <dd>
                            <input type="file" id="image" accept="image/*" onchange="setThumbnail(event);" multiple/>
                        </dd>
                    </dl>
                </div>
                <div class="cont">
                    <div id="image_container">
                        <img src="./img/프로필사진.jpeg">
                        <img src="./img/프로필사진.jpeg">
                        <img src="./img/프로필사진.jpeg">
                        <img src="./img/프로필사진.jpeg">
                    </div>
                    <textarea placeholder="내용 입력">글 내용이 들어갑니다
글 내용이 들어갑니다
글 내용이 들어갑니다
글 내용이 들어갑니다
글 내용이 들어갑니다
글 내용이 들어갑니다
                    </textarea>
                </div>
            </div>
            <div class="bt_wrap">
                <a href="act_view.html" class="on">등록</a>
                <a href="act_view.html" class = "on">취소</a>
            </div>
        </div>
    </div>

    <script>
        function setThumbnail(event) {
          for (var image of event.target.files) {
            var reader = new FileReader();
  
            reader.onload = function(event) {
              var img = document.createElement("img");
              img.setAttribute("src", event.target.result);
              document.querySelector("div#image_container").appendChild(img);
            };
  
            console.log(image);
            reader.readAsDataURL(image);
          }
        }
      </script>
</body>
</html>