<!doctype html>
<html lang="ko">
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width", initial-scale="1.0">
  <link rel="icon" href="/img/gettoo.ico">
  <link rel="stylesheet" href="/unregister.css">
  <title>GET-TOO</title>
</head>

<body>
<div class="wrap">
  <div class="logo"><a href="/"><img src="/img/logo_black.png" style="width: 300px;"></a></div>
  <div class="contents">
    <form action="####">
      <div class="ss">
        <label for="wrap">정말로 탈퇴하시겠습니까?</label>
        <div class="btn-area">
          <button type="button" class="next-button" onclick="location.href='gotoDelete' ">예</button><button type="button" class="next-button" onclick="location.href='/' ">아니오</button>
        </div>
      </div>
    </form>
  </div>
</div>
</body>
</html>