<!doctype html>
<html lang="ko">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width", initial-scale="1.0">
<link rel="icon" href="/img/gettoo.ico">
<link rel="stylesheet" href="/group_home.css">
<title>GET-TOO</title>
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="navbar_logo">
                <a href="/"><img src="/img/nav_logo.png"/></a>
            </div>
            <div class="navbar_menu">
                <ul class="main_menu">
                    <li><a href="clientInfo">안녕하세요, <span style="font-weight: bold;"th:text="${client.name}"></span>님 ∨
                        <ul class="sub_menu">
                            <li><a href="clientInfo" style="font-size: 15px; margin-left: 5px;">프로필</a></li>
                            <li><a href="loginGroup" style="font-size: 15px; margin-left: 5px;">동아리</a></li>
                            <li><form action="/clientlogout" method="post"style="cursor: pointer;">
                                <button type ="submit" style="border: 0;
                                background-color: transparent; cursor: pointer; font-size: 15px;">로그아웃</button>
                            </form></li>
                        </ul>
                    </li>
                </ul>
            </div>

            </div>
        </nav>
    </header>

    <section id="s1">
        <div class="back"><a href="loginGroup"><img src="/img/icon_back.png"></a></div>
        <div class="group_title">
            <div class="title_img"><img th:src="@{'/img/group/' + ${clubName} + '.jpg'}"style="height: 180px;"/></div>
            <div class="title_name"><h2> <span th:text="${clubName}"></span>(총 인원:<span th:text="${member}"></span>)</h2></div>
        </div>
        <div style="margin-top: 1px; width: 100%;">
            <ul>
                <li>
                    <div class="group_center">
                        <div>
                            <h5 style="display:inline;">동아리 활동 사진</h5>
                            <h6 style="display:inline;"><a href="goAlbum" style="display:inline;"> 더 보러 가기 </a></h6>
                        </div>
                        <div class="group_img">
                            <img th:src="@{'/activityimg/' + ${clubName} + '/'+${clubName}+'.jpg'}" style="width: 200px; height: 180px;">
                            <img th:src="@{'/activityimg/' + ${clubName} + '/'+${clubName}+'.png'}" style="width: 200px; height: 180px;">
                            <img th:src="@{'/activityimg/' + ${clubName} + '/'+${clubName}+'1.jpg'}" style="width: 200px; height: 180px;">
                            <img th:src="@{'/activityimg/' + ${clubName} + '/'+${clubName}+'1.png'}" style="width: 200px; height: 180px;">
                            <img th:src="@{'/activityimg/' + ${clubName} + '/'+${clubName}+'2.jpg'}" style="width: 200px; height: 180px;">
                            <img th:src="@{'/activityimg/' + ${clubName} + '/'+${clubName}+'2.png'}" style="width: 200px; height: 180px;">
                            <img th:src="@{'/activityimg/' + ${clubName} + '/'+${clubName}+'3.jpg'}" style="width: 200px; height: 180px;">
                            <img th:src="@{'/activityimg/' + ${clubName} + '/'+${clubName}+'3.png'}" style="width: 200px; height: 180px;">
                        </div>
                    </div>
                </li>
                <li>
                    <div class="group_left">
                        <h5 style="display:inline;">자유게시판</h5>
                        <h6 style="display:inline;"><a href="goActBoard" style="display:inline;"> 더 보러 가기 </a></h6>
                        <table class="board_table">
                          <tbody>
                            <tr>
                              <td id="td_1"><a href="####">아니 이거 실화냐</a></td>
                              <td id="td_2"><a href="####">박지성</a></td>
                              <td id="td_3"><a href="####">23.04.05</a></td>
                            </tr>
                            <tr>
                                <td id="td_1"><a href="####">오늘 토트넘 경기 봤냐</a></td>
                                <td id="td_2"><a href="####">손흥민</a></td>
                                <td id="td_3"><a href="####">23.04.05</a></td>
                            </tr>
                            <tr>
                                <td id="td_1"><a href="####">축구화 팝니다</a></td>
                                <td id="td_2"><a href="####">차범근</a></td>
                                <td id="td_3"><a href="####">23.04.07</a></td>
                            </tr>
                            <tr>
                                <td id="td_1"><a href="####">축구 할 사람</a></td>
                                <td id="td_2"><a href="####">강수호</a></td>
                                <td id="td_3"><a href="####">23.04.07</a></td>
                            </tr>
                            <tr>
                                <td id="td_1"><a href="####">축구 보러 갈 사람 구함</a></td>
                                <td id="td_2"><a href="####">이강인</a></td>
                                <td id="td_3"><a href="####">23.04.08</a></td>
                            </tr>
                          </tbody>
                        </table>
                    </div>
                </li>
                <li>
                    <div class="group_right">
                        <h5 style="display:inline;">공지사항</h5>
                        <h6 style="display:inline;"><a href="goNoticeBoard" style="display:inline;"> 더 보러 가기 </a></h6>
                        <table class="board_table">
                          <tbody>
                            <tr>
                              <td id="td_1"><a href="####">썬더일레븐에서 알립니다</a></td>
                              <td id="td_2"><a href="####">23.04.07</a></td>
                            </tr>
                            <tr>
                              <td id="td_1"><a href="####">썬더일레븐 공지사항</a></td>
                              <td id="td_2"><a href="####">23.04.07</a></td>
                            </tr>
                            <tr>
                              <td id="td_1"><a href="####">4월 활동 안내</a></td>
                              <td id="td_2"><a href="####">23.04.07</a></td>
                            </tr>
                            <tr>
                              <td id="td_1"><a href="####">동아리 회식 안내</a></td>
                              <td id="td_2"><a href="####">23.04.07</a></td>
                            </tr>
                            <tr>
                                <td id="td_1"><a href="####">썬더일레븐 회원 필독</a></td>
                                <td id="td_2"><a href="####">23.04.07</a></td>
                            </tr>
                          </tbody>
                        </table>
                    </div>
                </li>
            </ul>
        </div>

    </section>

    <script>
        function work() {
            var result = confirm("정말로 탈퇴하시겠습니까?");
            if(result == true) {
                alert("탈퇴가 완료되었습니다.");
                location.replace("####");
            }
            else {
                alert("취소되었습니다.");
            }
        }
    </script>

    
</body>
</html>
